<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no viewport-fit=cover">
    <title>2048 Maybe</title>
    <link rel="stylesheet" href="style.css">
    <script src="main.js" type="module"></script>
</head>
<body>
    <div class="container">
        <div class="Title">
            <h1 class="title-upper"> Member 5K 기념 <br></h1>
            <h1 class="title"> Maybe 2048 <br></h1>
        </div>
        <div class="upgrade">
            <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fblrk9f%2FbtsIP7gCtBP%2FCA7AQOKwqURbdyxp5WWq3K%2Fimg.png" alt="upgradeImg" style="max-width: 280px; margin-top: 70%; padding-left: 70px;">
        </div>
        <div class="Score">
            <h2 id="score">0</h2>
        </div>
        <div class="board">
            <section id="game-board"></section>
        </div>
      </div>

    <!-- Modal Structure -->
    <div id="game-over-modal" class="modal">
        <div class="modal-content">
            <h2 class="text-gameover"> Game Over </h2>
            <h4 class="text-final-score"> 점수 : <span id="final-score"></span></h4>
            <input type="text" class="form-control" id="nickname" placeholder="서버 닉네임을 입력해주세요." required="">
            <button class="btnPush btnLightBlue" id="submit-score">등록</button>
            <p style="font-size: 1vmax; padding-top: 30px;">제작자 : Myuk 뮤크 <br> 본 페이지는 메이비 '5000만큼 축하해' 이벤트 기간만 운영됩니다.</p>
        </div>
    </div>
</body>
</html>
